name: Build Docker Image and Push to GHCR

on:
  push:
    branches:
      - main
      - feature-dockerbuild
    paths:
      - "dockerbuild/**"
      - "ghcr/delete/**"
      - "dockerfile"
      - "dockerFile"
      - "DockerFile"
      - "Dockerfile"
      - ".github/workflows/dockerbuild.yaml"

jobs:
  dockerbuild:
    runs-on: ubuntu-24.04
    permissions:
      contents: read
      packages: write
      attestations: write
      id-token: write
    name: Build Docker Image
    steps:
      - uses: actions/checkout@v4.2.2
      - uses: KAnggara/DevOps/dockerbuild@feature-dockerbuild
        with:
          path: test/bun
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
          github_token: ${{ secrets.GITHUB_TOKEN }}
