name: Lcov Test

on:
  push:
    branches:
      - main
    paths:
      - "lcov/**"
      - "test/bun/coverage/**"
      - ".github/workflows/lcov.yaml"

jobs:
  lcov:
    runs-on: ubuntu-24.04
    name: Lcov Test
    steps:
      - uses: actions/checkout@v4
      - uses: KAnggara/DevOps/lcov@HEAD
        with:
          coverage-files: coverage/lcov.info
          working-dir: test/bun
